matplotlib
numpy
openpyxl
pandas
Pillow
pyodbc
PySimpleGUI

pip
attrs
tornado
Jinja2
requests
beautifulsoup4
werkzeug
ipython
ipykernel
dill
MarkupSafe
isort
colorama
setuptools
astroid
pytz
python-dateutil
pylint
tomlkit
mccabe
platformdirs
wcwidth
packaging
overrides
mypy
wheel
pytest
cffi
pluggy
iniconfig
six
cycler
pyparsing
contourpy
fonttools
kiwisolver