typing~=3.7.4.3
pygwalker
pathlib
cffi
Pillow~=10.3.0
ipython
pip
attrs
wheel
tornado
Jinja2
filelock
pytest
requests
beautifulsoup4
psutil
werkzeug
ipykernel
dill
numpy~=1.26.4
mypy
astor
Babel
pytz
setuptools
MarkupSafe
click
isort
colorama
overrides
duckdb
pandas~=2.2.2
openpyxl~=3.1.2
pyarrow
SQLAlchemy
matplotlib~=3.8.4
python-dateutil
packaging
ipywidgets
traitlets
pypiwin32
pywin32
pylint
astroid
tomlkit
mccabe
platformdirs
wcwidth
pluggy
iniconfig
debugpy
greenlet
decorator
tzdata
sqlglot
jupyterlab
notebook
pydantic
wasmtime
six
fonttools
comm
pyzmq
nbformat
arrow
appdirs
jsonschema
zipp
pyodbc~=5.1.0
win10toast
websocket-client
anyio
Send2Trash
PySimpleGUI~=4.60.5
black
pathspec
json5