jupytext
jupyterlab
beautifulsoup4
ipywidgets
ipython
matplotlib
nltk
openai
langchain
langchain-community
PyMuPDF
python-docx
pathlib
pydantic
pandas
pinecone
sentence-transformers
scipy
scikit-learn
spacy
tiktoken
transformers
textblob
tqdm