CREATE TABLE IF NOT EXISTS CompassLevels 
(
	CompassLevelsId	INTEGER NOT NULL UNIQUE,
	BFY	TEXT(150) DEFAULT NS,
	EFY	TEXT(150) DEFAULT NS,
	FundCode	TEXT(150) DEFAULT NS,
	FundName	TEXT(150) DEFAULT NS,
	TreasurySymbol	TEXT(150) DEFAULT NS,
	MainAccount	TEXT(150) DEFAULT NS,
	BudgetLevel	TEXT(150) DEFAULT NS,
	RpioCode	TEXT(150) DEFAULT NS,
	RpioName	TEXT(150) DEFAULT NS,
	AccountCode	TEXT(150) DEFAULT NS,
	ProgramProjectName	TEXT(150) DEFAULT NS,
	ProgramAreaCode	TEXT(150) DEFAULT NS,
	ProgramAreaName	TEXT(150) DEFAULT NS,
	Authority	DOUBLE DEFAULT 0.0,
	CarryoverIn	DOUBLE DEFAULT 0.0,
	CarryoverOut	DOUBLE DEFAULT 0.0,
	Recoveries	DOUBLE DEFAULT 0.0,
	Reimbursements	DOUBLE DEFAULT 0.0,
	TreasuryAccountCode	TEXT(150) DEFAULT NS,
	TreasuryAccountName	TEXT(150) DEFAULT NS,
	BudgetAccountCode	TEXT(150) DEFAULT NS,
	BudgetAccountName	TEXT(150) DEFAULT NS,
	PRIMARY KEY(CompassLevelsId AUTOINCREMENT)
);