CREATE TABLE [dbo].[GsPayScale]
(
	[GsPayScaleId] [int] IDENTITY(1,1) NOT NULL,
	[LOCNAME] [nvarchar](255) NULL,
	[GRADE] [float] NULL,
	[ANNUAL1] [float] NULL,
	[HOURLY1] [nvarchar](255) NULL,
	[OVERTIME1] [nvarchar](255) NULL,
	[ANNUAL2] [float] NULL,
	[HOURLY2] [nvarchar](255) NULL,
	[OVERTIME2] [nvarchar](255) NULL,
	[ANNUAL3] [float] NULL,
	[HOURLY3] [nvarchar](255) NULL,
	[OVERTIME3] [nvarchar](255) NULL,
	[ANNUAL4] [float] NULL,
	[HOURLY4] [nvarchar](255) NULL,
	[OVERTIME4] [nvarchar](255) NULL,
	[ANNUAL5] [float] NULL,
	[HOURLY5] [nvarchar](255) NULL,
	[OVERTIME5] [nvarchar](255) NULL,
	[ANNUAL6] [float] NULL,
	[HOURLY6] [nvarchar](255) NULL,
	[OVERTIME6] [nvarchar](255) NULL,
	[ANNUAL7] [float] NULL,
	[HOURLY7] [nvarchar](255) NULL,
	[OVERTIME7] [nvarchar](255) NULL,
	[ANNUAL8] [float] NULL,
	[HOURLY8] [nvarchar](255) NULL,
	[OVERTIME8] [nvarchar](255) NULL,
	[ANNUAL9] [float] NULL,
	[HOURLY9] [nvarchar](255) NULL,
	[OVERTIME9] [nvarchar](255) NULL,
	[ANNUAL10] [float] NULL,
	[HOURLY10] [nvarchar](255) NULL,
	[OVERTIME10] [nvarchar](255) NULL
);