CREATE TABLE [dbo].[ResponsibilityCenters]
(
	[ResponsibilityCenterId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[Title] [nvarchar](255) NULL
);
