USE [Data]
GO
/****** Object:  Table [dbo].[URL]    Script Date: 5/13/2023 1:48:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URL](
	[SourceId] [int] NOT NULL,
	[Name] [nvarchar](80) NULL,
	[Location] [nvarchar](80) NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_URL] PRIMARY KEY CLUSTERED 
(
	[SourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
