CREATE TABLE Funds
(
	FundsId                       INT           NOT NULL UNIQUE,
	BFY                           NVARCHAR(150) NULL DEFAULT ('NS'),
	EFY                           NVARCHAR(150) NULL DEFAULT ('NS'),
	Code                          NVARCHAR(150) NULL DEFAULT ('NS'),
	Name                          NVARCHAR(150) NULL DEFAULT ('NS'),
	ShortName                     NVARCHAR(150) NULL DEFAULT ('NS'),
	Status                        NVARCHAR(150) NULL DEFAULT ('NS'),
	StartDate                     NVARCHAR(150) NULL DEFAULT ('NS'),
	EndDate                       NVARCHAR(150) NULL DEFAULT ('NS'),
	SubLevelPrefix                NVARCHAR(150) NULL DEFAULT ('NS'),
	AllocationTransferAgency      NVARCHAR(150) NULL DEFAULT ('NS'),
	AgencyIdentifier              NVARCHAR(150) NULL DEFAULT ('NS'),
	BeginningPeriodOfAvailability NVARCHAR(150) NULL DEFAULT ('NS'),
	EndingPeriodOfAvailability    NVARCHAR(150) NULL DEFAULT ('NS'),
	MultiyearIndicator            NVARCHAR(150) NULL DEFAULT ('NS'),
	MainAccount                   NVARCHAR(150) NULL DEFAULT ('NS'),
	SubAccount                    NVARCHAR(150) NULL DEFAULT ('NS'),
	FundCategory                  NVARCHAR(150) NULL DEFAULT ('NS'),
	AppropriationCode             NVARCHAR(150) NULL DEFAULT ('NS'),
	SubAppropriationCode          NVARCHAR(150) NULL DEFAULT ('NS'),
	FundGroup                     NVARCHAR(150) NULL DEFAULT ('NS'),
	NoYear                        NVARCHAR(150) NULL DEFAULT ('NS'),
	Carryover                     NVARCHAR(150) NULL DEFAULT ('NS'),
	CanceledYearSpendingAccount   NVARCHAR(150) NULL DEFAULT ('NS'),
	ApplyAtAllLevels              NVARCHAR(150) NULL DEFAULT ('NS'),
	BatsFund                      NVARCHAR(150) NULL DEFAULT ('NS'),
	BatsEndDate                   NVARCHAR(150) NULL DEFAULT ('NS'),
	BatsOptionId                  NVARCHAR(150) NULL DEFAULT ('NS'),
	SecurityOrg                   NVARCHAR(150) NULL DEFAULT ('NS'),
	BudgetAccountCode             NVARCHAR(150) NULL DEFAULT ('NS'),
	BudgetAccountName             NVARCHAR(150) NULL DEFAULT ('NS'),
	TreasuryAccountCode           NVARCHAR(150) NULL DEFAULT ('NS'),
	TreasuryAccountName           NVARCHAR(150) NULL DEFAULT ('NS'),
	ApportionmentAccountCode      NVARCHAR(150) NULL DEFAULT ('NS'),
	CONSTRAINT FundsPrimaryKey PRIMARY KEY
		(
		  FundsId ASC
			)
);
